body {
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", sans-serif;
  background-color: rgb(109, 187, 212);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-container {
  padding: 10px;
  min-height: 50vh;
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  border: 2px solid #333;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

#play-btn {
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
}

#play-btn:hover {
  cursor: pointer;
  background-color: rgb(35, 35, 171);
  color: white;
}

.button:hover {
  transform: scale(1);
  color: red;
}

.button {
  border: none;
  outline: none;
  font-family: "Patrick Hand";
  font-size: 35px;
  width: 48px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  color: rgb(46, 44, 39);
  position: relative;
}

.button.wrong::after {
  content: "X";
  color: red;
  position: absolute;
  opacity: 0.9;
  font-size: 40px;
  width: 35px;
  height: 35px;
  left: 6px;
  bottom: 10px;
}

.button.correct::after {
  content: "";
  display: flex;
  position: absolute;
  border: 2px solid blue;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 5px;
  left: 5px;
}

.hint-box {
  font-size: 28px;
  color: #444;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

#displayed-word {
  font-size: 49px;
  letter-spacing: 5px;
  color: #333;
  font-weight: bold;
  height: 75px;
}



#game-message {
  font-size: 35px;
}

#reset {
  display: none;
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.revealed-word {
  font-size: 38px;
  color: red;
  text-decoration: underline;
  font-weight: bold;
}

#guess-checker{
  font-size: 31px;
}